:root {
	--error-color: rgb(255, 28, 28);
	--main-color: rgb(255, 119, 28);
}

html, body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

#root {
	display: flex;
	width: 100%;
	height: 100%;
}